body {
    margin: 0;
    background-color: #ECEEF1;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    color: rgb(76,76,76);
}

a:visited{
    color: #0077C5;
}

a:link{
    color: #0077C5;
    text-decoration: none;
}

/* Header */

header {
    height: 150px;
}

.large-logo {
    display: block;
    margin: auto;
    width: 118px;
    height: 35px;
}

.btn-submit{
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-weight: normal;
    height: 34px;
    margin-left: 10px;
}

#sign-in{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    height: 50%;
}

#sign-in button i {
    padding-right: 10px;
}

.text{
    text-align: center;
}

.text p{
    margin: 0;
}

/* Container */

#container{
    height: 600px;
}

#form {
    margin: auto;
    height: 100%;
    width: 380px;
    background-color: white;
    border: 1px solid #c7c7c7;
}


/* Footer */

footer {
    width: 100%;
    margin-top: 35px;
    height: 150px;
}

footer p {
    max-width: 880px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.quick-link{
    margin-right: 10px;
}

#footer-text{
    margin: 0 auto 0 auto;
    width: 50%;
}

.small-logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 75px;
    height: 20px;
}